body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	padding: 10px;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 90%;
	margin: 0%;
}
.postcard-body {
	display: flex;
}
#first {
	margin-top: 0%;
}
.body-right.body-left {
	padding: 20px;
}
input {
	border: none;
	border-bottom: 1px solid gray;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgray;
	padding: 10px;
}
button:active {
	background-color: green;
}
